{% extends 'layout.html' %}
{% block head %}
<title>Sorting</title>
{% endblock %}

{% block body %}
<div class="full-height" style="background: #0c0032; color: white;">
    <nav class="navbar navbar-light" style="background: #17a2b8; height: 4em; color:white">
        <a class="navbar-brand" href="{{url_for('home')}}">
            <img src="{{url_for('static',filename='images/code.png')}}" width="35" height="35" alt="Algovision" loading="lazy">
            <span class="hide">Algo-Vision</span>
        </a>
        <form class="form-inline">
            <input class="form-control mr-2" type="search" placeholder="Search for Algorithms" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit" style="background: #0c0032;">Search</button>
        </form>
    </nav>
    <div class="container sorting-algos text-center">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="SortAlgos" id="sortAlgo1" value="Insertion">
            <label class="form-check-label" for="inlineRadio1"><u><a data-toggle="modal" data-target=""><b> Insertion</b></a></u></label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="SortAlgos" id="sortAlgo2" value="Selection">
            <label class="form-check-label" for="inlineRadio2"><u><a data-toggle="modal" data-target=""><b> Selection</b></a></u></label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="SortAlgos" id="sortAlgo3" value="Bubble">
            <label class="form-check-label" for="inlineRadio3"><u><a data-toggle="modal" data-target=""><b> Bubble</b></a></u></label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="SortAlgos" id="sortAlgo4" value="Merge">
            <label class="form-check-label" for="inlineRadio4"><u><a data-toggle="modal" data-target=""><b> Merge</b></a></u></label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="SortAlgos" id="sortAlgo5" value="Quick">
            <label class="form-check-label" for="inlineRadio5"><u><a data-toggle="modal" data-target=""><b> Quick</b></a></u></label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="SortAlgos" id="sortAlgo6" value="Bucket">
            <label class="form-check-label" for="inlineRadio6"><u><a data-toggle="modal" data-target=""><b> Bucket</b></a></u></label>
        </div>
    </div>
    <div class="container text-center search-parameters">
        <form>
            <div class="form-group">
                <label class="text-center" id="sortSpeedLabel">
                    <b>Sorting Speed</b><br>
                    <span>(Kindly reset the array before setting the speed.)</span><br>
                </label>
                <input type="range" min="10" max="300" value="200" class="slider" id="sortSpeed">
            </div>
        </form>
    </div>
    <div class="container colors text-center">
        <h4>Colors</h4><br>
        <hr style="background: white;">
        <span class="fas fa-paint-brush color-brush" style="color: #3500d3;"></span><span class="color-item"><span class="color-item-label">Selected</span></span><br>
        <hr style="background: white;">
        <span class="fas fa-paint-brush color-brush" style="color: #f64c72;"></span><span class="color-item"><span class="color-item-label">Checking</span></span><br>
        <hr style="background: white;">
        <span class="fas fa-paint-brush color-brush" style="color: #5cdb95;"></span><span class="color-item"><span class="color-item-label">Sorted</span></span><br>
        <hr style="background: white;">
    </div>
    <div class="container bars text-center">

    </div>
    <div class="text-center" id="sort">
    <button class="btn btn-info btn-lg" id="sortbtn"><span class="fas fa-signal"></span> Sort</button>
    <div id="chosendiv">
        <span id="chosen"></span>
    </div>
    <button class="btn btn-info btn-lg" id="resetBtn"><span class="fas fa-redo"></span> Reset Array</button>
    </div>
</div>

<script src="{{url_for('static',filename='js/sorting.js')}}"></script>
{% endblock %}